body  {
    background: #CCCCCC;
    padding: 40px;
}

.titulo-principal {
    padding-left: 20px;
}

#banner {
    width: 100%;
}
.titulo-centralizado {
    text-align: center
}


p   {
    text-align:center
}

#missao {
    font-size:20px
}

em strong {
    color:  #FF0000;
}

.beneficios {
    background: #FFFFFF;
    padding: 20px;
}

.itens {
    font-style: italic;
}

ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}
.imagembeneficios {
    width: 50%;
}