header {
    background: #757575;
    padding: 20px 0;
}

.caixa {
    position: relative;
    width: 1150px;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li {
    display: inline-block;
    padding-right: 20px;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 25px;
    text-decoration: none;
}

nav a:hover {
    color: #C78C19;
    text-decoration: underline;
}

.produto-descriçao{
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.produto-preço {
    font-size: 22px;
    font-weight: bolder;
    margin-top: 10px;
}
.produtos {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}
.produtos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: #000000 3px solid;
    border-radius: 50px;
}

.produtos li:hover {
    border-color: #C78C19;
}
    
.produtos li:active {
    border-color: chartreuse;
}

.produtos li:hover h2 {
    font-size: 30px;
}

.produtos h2 {
    font-size: 25px;
    font-weight: bold;
}
footer {
    text-align: center;
    background: url(bg.jpg);
    padding:  40px 0;
}

.copyright {
    color: white; 
    font-size: 13px;
    margin-top: 20px;
}